.HotItemCard{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-image: wheat;
    background-color:rgb(205, 255, 184);
    transition: all 0.5s;
    margin: 1 vmax;
    cursor: pointer;
}

.HotItemCard > img{
    width: 50%;
    margin-top: 0.5vmax;
}

.HotItemCard>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}

.HotItemCard>span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -1vmax 0 0 0;
    color: orangered;
}

.HotItemCard:hover{
    transform: translateX(2vmax);
    /* transform: translateY(-0.5vmax); */
    box-shadow: 0px 5px 15px rgba(53, 53, 53, 0.535);
}