.offerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
}
.offerSection img{
    margin: 0 1.3vmax;
    transition: all 0.2s;
}

.offerSection img:hover{
    box-shadow: 10px 10px 30px rgba(48, 55, 54, 0.238);
}