body{
    margin: 0;
    /* background-color: rgb(133, 121, 121); */
    background: hsla(184, 85%, 63%, 1); background: linear-gradient(45deg, hsla(184, 85%, 63%, 1) 0%, hsla(240, 46%, 76%, 1) 50%, hsla(319, 72%, 75%, 1) 100%);
}
.pnav>div{
    padding: 0 4vmax;
    font-weight: 300;
    font-size: 10px;
    display: flex;
    align-items: center;

}
.pnav>div>span{
    color: black;
    font-size: 1vmax;
    font-weight: 100;
}
.pnav>div>svg{
    fill: black;
    font-size: 20px;
    font-optical-sizing: 20px;

}
.pnav>div>a{
    color: black;
    font-size: 0.9vmax;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:  bold;
    margin: 1vmax;
    text-decoration: none;
}
.pnav>div>:hover{
    color: white;

}